<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="">
<th:block th:replace="/html/fragments/head :: headerFragment"></th:block>
<body>

<div class="container">

    <th:block th:replace="/html/fragments/bodyHeader :: bodyHeaderFragment"></th:block>


    <div>
        <div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" name="memberName" class="form-control" placeholder="회원명" th:value="${orderSearch.memberName}">
                </div>
                <div class="form-group">
                    <select class="form-control" name="orderStatus">
                        <option value="">주문상태</option>
                        <option value="ORDER" th:selected="${orderSearch.orderStatus} == ORDER">주문</option>
                        <option value="CANCEL" th:selected="${orderSearch.orderStatus} == CANCEL">취소</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">검색</button>
            </form>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>회원명</th>
                <th>대표상품 이름</th>
                <th>대표상품 주문가격</th>
                <th>대표상품 주문수량</th>
                <th>상태</th>
                <th>일시</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${orders}">>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.orderItems[0].item.name}"></td>
                    <td th:text="${item.orderItems[0].orderPrice}"></td>
                    <td th:text="${item.orderItems[0].count}"></td>
                    <td th:text="${item.status}"></td>
                    <td th:text="${item.orderDate}"></td>
                    <td>
<!--                        <c:if test="${item.status == 'ORDER'}">-->
<!--                        <a href="/orders/${item.id}/cancel" class="btn btn-danger">주문취소</a>-->
<!--                        </c:if>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <th:block th:replace="/html/fragments/footer :: footerFragment"></th:block>

</div> <!-- /container -->

</body>
</html>
