<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="">
<th:block th:replace="/html/fragments/head :: headerFragment"></th:block>
<body>

<div class="container">

    <th:block th:replace="/html/fragments/bodyHeader :: bodyHeaderFragment"></th:block>

    <form role="form" action="/order" method="post">

        <div class="form-group">
            <label for="member">주문회원</label>
            <select name="memberId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${members}" th:value="${member?.Id}" th:utext="${member?.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="item">상품명</label>
            <select name="itemId" id="item" class="form-control">
                <option value="">상품선택</option>
                <option th:each="item : ${items}" th:value="${item?.Id}" th:utext="${item?.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="count">주문수량</label>
            <input type="number" name="count" class="form-control" id="count" placeholder="주문 수량을 입력하세요">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <br/>
    <th:block th:replace="/html/fragments/footer :: footerFragment"></th:block>

</div> <!-- /container -->

</body>
</html>
