<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="">
<th:block th:replace="/html/fragments/head :: headerFragment"></th:block>
<body>

<div class="container">
    <th:block th:replace="/html/fragments/bodyHeader :: bodyHeaderFragment"></th:block>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:text="${item.stockQuantity}"></td>
                    <td>
                        <a th:href="@{/items/{itemId}/edit(itemId = ${item.id})}" class="btn btn-primary" role="button">수정</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <th:block th:replace="/html/fragments/footer :: footerFragment"></th:block>

</div> <!-- /container -->

</body>
</html>
