<!DOCTYPE html>
<html lang="UTF-8">
<th:block th:replace="/html/fragments/head :: headerFragment"></th:block>
<body>

<div class="container">
    <th:block th:replace="/html/fragments/bodyHeader :: bodyHeaderFragment"></th:block>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <c:forEach items="${items}" var="item">
                <tr>
                    <td>${item.id}</td>
                    <td>${item.name}</td>
                    <td>${item.price}</td>
                    <td>${item.stockQuantity}</td>
                    <td>
                        <a href="/items/${item.id}/edit" class="btn btn-primary" role="button">수정</a>
                    </td>
                </tr>
            </c:forEach>
            </tbody>
        </table>
    </div>

    <th:block th:replace="/html/fragments/footer :: footerFragment"></th:block>

</div> <!-- /container -->

</body>
</html>
