<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="">
<th:block th:replace="/html/fragments/head :: headerFragment"></th:block>
<body>

<div class="container">
    <th:block th:replace="/html/fragments/bodyHeader :: bodyHeaderFragment"></th:block>

    <form role="form" method="post">
        <!-- id -->
        <input type="hidden" name="id" th:value="${item.id}">

        <div class="form-group">
            <label for="name">상품명</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="이름을 입력하세요" th:value="${item.name}">
        </div>
        <div class="form-group">
            <label for="price">가격</label>
            <input type="number" name="price" class="form-control" id="price" placeholder="가격을 입력하세요" th:value="${item.price}">
        </div>
        <div class="form-group">
            <label for="stockQuantity">수량</label>
            <input type="number" name="stockQuantity" class="form-control" id="stockQuantity" placeholder="수량을 입력하세요" th:value="${item.stockQuantity}">
        </div>
        <div class="form-group">
            <label for="author">저자</label>
            <input type="text" name="author" class="form-control" id="author" placeholder="저자를 입력하세요" th:value="${item.author}">
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" name="isbn" class="form-control" id="isbn" placeholder="ISBN을 입력하세요" th:value="${item.isbn}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <br/>
    <th:block th:replace="/html/fragments/footer :: footerFragment"></th:block>

</div> <!-- /container -->


</body>
</html>
